body {
  background-color: #ffffff;
  color: #333333;
  font-family: $default-font;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  &:link,
  &:visited {
    color: rgba(#000, 0.7);
  }

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}
