<div class="name-card">
  <h1 class="name-title">Jacky Kiu</h1>
  <div class="cd-intro">
    <h4 class="cd-headline clip">
      <span class="cd-words-wrapper">
        <b class="is-visible">Web Designer</b>
        <b>UI Engineer & Designer</b>
        <b>Front End Developer</b>
      </span>
    </h4>
  </div>
  <div class="text-uppercase mb-2">
    <small>Singapore</small>
  </div>
</div>
