<div class="name-card">
  <h1 class="name-title">Jacky Kiu</h1>
  <div class="text-uppercase mb-2">
    <span class="front-text">web developer</span>
    <span class="middleline">&nbsp;</span>
    <span class="back-text">UI / UX designer</span><br>
    <small>Singapore</small>
  </div>
</div>
