.navbar {
  letter-spacing: 2px;

  .navbar-collapse {
    text-align: center;

    .nav-item a {
      width: 110px;

      &:hover, &focus {
        font-weight: bold;
        background-color: inherit;
      }
    }
  }
}
