.name-card {
  letter-spacing: 2px;

  .front-text,
  .back-text {
    display: block;
  }

  .middleline {
    display: none;
  }
}

@media(min-width: 540px) {
  .name-card {

    .front-text,
    .back-text {
      display: inline-block;
    }

    .middleline {
      display: inline-block;
      border-left: 1px solid #333333;
      margin-left: 12px;
      margin-right: 8px;
    }
  }
}
