#about {
  padding-top: 100px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
  .name-card {
    letter-spacing: 2px;

    p > span {
      border-left: 1px solid #333333;
      margin: 0 12px;
    }
  }

  .text > p {
    line-height: 2rem;

    a {
      &:link,
      &:visited {
        color: rgba(174, 0, 227, 1);
        font-weight: 400;

        span {
          border-bottom: 1px solid rgba(174, 0, 227, 1);
        }
      }

      &:focus,
      &:hover {
        color: rgba(174, 0, 227, 1);
        text-decoration: none;

        span {
          border-bottom: 0;
        }
      }
    }
  }

  .text-icon > i {
    margin-right: 10px;
    font-size: 25px;
    color: #b0b0b0;
  }

  .text-icon > i:last-child {
    margin-right: 0px;
  }
}
