// Styling for the navbar with fullscreen overlay
#mainNav {
  letter-spacing: 2px;
  background-color: #ffffff;

  .navbar-mobile {
    .overlay {
      height: 100%;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.2s linear;
      position: fixed;
      z-index: 12;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0, 0.9);

      .nav-link {
        padding: 10px 0;
        text-decoration: none;
        color: #b9b9b9;
        transition: 0.3s;

        &:hover,
        &:focus {
          color: #ffffff;
        }
      }

      .closebtn {
        position: absolute;
        right: 17px;
        top: 12px;
        color: #b9b9b9;
        transition: 0.3s;

        &:hover,
        &:focus {
          color: #f1f1f1;
        }
      }
    }
  }
}

@media(min-width: 768px) {
  #mainNav {
    .navbar-desktop {
      .nav-item a {
        width: 150px;

        &:hover,
        &:focus,
        &.active {
          font-weight: 400;
          background-color: inherit;

          span {
            border-top: 2px solid #bfbfbf;
            padding-top: 3px;
          }
        }
      }
    }
  }
}
