---
title: jacky.space | about
---

<section id="about">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center d-flex align-items-center justify-content-center">
        <%= partial "/common/namecard" %>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-md-3 text-center mb-5">
        <img src="images/noprofile.jpg" alt="no profile image" class="img-fluid rounded-circle" style="width:200px">
      </div>

      <div class="col-md-5 text-center text-md-left d-flex align-items-center">
        <div class="text">
          <h4>嗨(Hi)！</h4>
          <p>My name is Jacky Kiu, and I'm an design engineer at <a href="https://www.ekkko.com" target="_blank"><span>Ekkko Systems</span></a> on the Platform Design Engineering team. I'm working to build a user friendly, fun and simplicity web interface. If you are, too, get in touch.</p>

          <p>I'm advanced in UI Developer & Designer with a strong sense for aesthetics and interaction. With 10+ years in blending art of design with skill of programming to deliver engaging user experience through efficient website development, proactive feature optimization, relentless debugging, structuring and implementing interactive websites. Innovative use of technology and SEO to drive traffic and engage users. Able to complete projects efficiently and satisfy customers with attractive, user-friendly websites. </p>

          <p>Previously, I work at the <a href="https://www.confucian.edu.my" target="_blank"><span>Confucian Private Secondary School (KL, Malaysia)</span></a>, and <a href="https://www.playsure.com.tw" target="_blank"><span>Playsure Technology (Taiwan R.O.C)</span></a>. I received my M.S. in Design Studies from Southern Taiwan University of Science and Technology.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center my-5">
      <div class="col-12 text-center">
        <div class="text-icon">
          <span data-toggle="tooltip" data-placement="top" title="Love with"><i class="material-icons">favorite</i></span>
          <span><i class="material-icons">arrow_forward</i></span>
          <!-- Photograpy -->
          <span data-toggle="tooltip" data-placement="top" title="Photograpy"><i class="fas fa-camera-retro"></i></span>
          <!-- Film photograh -->
          <span data-toggle="tooltip" data-placement="top" title="Film Lover"><i class="fas fa-film"></i></span>
          <!-- Travel -->
          <span data-toggle="tooltip" data-placement="top" title="Travel"><i class="fas fa-route"></i></span>
          <!-- Watch Movies -->
          <span data-toggle="tooltip" data-placement="top" title="Watch Movies"><i class="fas fa-ticket-alt"></i></span>
          <!-- Starwars Fans -->
          <span data-toggle="tooltip" data-placement="top" title="Starwars Fan"><i class="fas fa-jedi"></i></span>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
