---
title: jacky.space | contact
---

<section id="contact">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center d-flex align-items-center justify-content-center">
        <%= partial "/common/namecard" %>
      </div>
    </div>

    <div class="row justify-content-center my-5">
      <div class="col-8 text-center">
        <div class="text-title">get in touch.</div>
        <div class="text-icon">
          <a href="https://github.com/kinojacky" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github">
            <i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/yunsiang" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Linkedin">
            <i class="fab fa-linkedin"></i></a>
          <a href="qrcode.html" data-toggle="tooltip" data-placement="bottom" title="Bring me away">
            <i class="fas fa-qrcode"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
