---
title: jacky.space | contact
---

<section id="resume">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center d-flex align-items-center justify-content-center">
        <div class="name-card">
          <h1 class="display-4">Jacky Kiu</h1>
          <p class="text-uppercase">web developer<span></span>UI / UX designer<br>
            <small>Singapore</small></p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
    </div>
  </div>
</section>
