---
title: jacky.space
layout: layout_en
---

<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center d-flex align-items-center justify-content-center">
        <%= partial "/common/namecard_en" %>
      </div>
      <div class="col-md-12 text-center d-flex align-items-center justify-content-center">
        <div>design <i class="material-icons">code</i> with <i class="material-icons">favorite</i></div>
      </div>
    </div>
  </div>
</section>
