---
title: jacky.space | resume
---

<section id="resume">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center d-flex align-items-center justify-content-center">
        <%= partial "/common/namecard" %>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-12 col-sm-10 col-md-6">
        <div class="title text-center text-uppercase">Experience</div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="images/empty_img.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">EKKKO SYSTEMS &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> WEB & UI / UX DESIGNER
          </div>
        </div>
        <div class="job-description mb-4">
          <span class="working-date">FEB 2019 - PRESENT, Singapore</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="images/empty_img.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">INNOVATIVE INTERNATIONAL INVESTMENT &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> GRAPHIC & WEB DESIGNER
          </div>
        </div>
        <div class="job-description mb-4">
          <span class="working-date">SEP 2018 - JAN 2019, Singapore</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="images/empty_img.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">PLAYSURE TECHNOLOGY &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> WEB DESIGN & DEVELOPER
          </div>
        </div>
        <div class="job-description mb-4">
          <span class="working-date">MAR 2017 - AUG 2018, Tainan - Taiwan R.O.C.</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="images/empty_img.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">CONFUCIAN PRIVATE SECONDARY SCHOOL &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> WEB DESIGN & DEVELOPER
          </div>
        </div>
        <div class="job-description mb-5">
          <span class="working-date">MAR 2006 - JAN 2012, Kuala Lumpur - Malaysia</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <hr>

        <div class="title text-center text-uppercase">Education</div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="images/empty_img.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">SOUTHERN TAIWAN UNIVERSITY OF SCIENCE AND TECHNOLOGY &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> M.S. with Design<br>
            <span class="company">&#8226; &#8212;</span> Major in Information & Communication
          </div>
        </div>
        <div class="job-description mb-5">
          <span class="working-date">MAR 2006 - JAN 2012, Kuala Lumpur - Malaysia</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="images/empty_img.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">SOUTHERN TAIWAN UNIVERSITY OF SCIENCE AND TECHNOLOGY &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> B.A. in Design<br>
            <span class="company">&#8226; &#8212;</span> Major in Information & Communication
          </div>
        </div>
        <div class="job-description mb-5">
          <span class="working-date">MAR 2006 - JAN 2012, Kuala Lumpur - Malaysia</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="images/empty_img.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">KING’S BUSINESS INSTITUTE A.K.A. SEGI COLLEGE SARAWAK &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> Diploma of Computer Studies
          </div>
        </div>
        <div class="job-description mb-5">
          <span class="working-date">MAR 2006 - JAN 2012, Kuala Lumpur - Malaysia</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <hr>

        <div class="title text-center text-uppercase">Skills</div>
      </div>
    </div>
  </div>
</section>
