---
title: jacky.space | resume
---

<section id="resume">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center d-flex align-items-center justify-content-center">
        <div class="name-card">
          <h1 class="display-4">Jacky Kiu</h1>
          <div class="text-uppercase mb-2">
            <span class="front-text">web developer</span>
            <span class="middleline">&nbsp;</span>
            <span class="back-text">UI / UX designer</span><br>
            <small>Singapore</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
    </div>
  </div>
</section>
