---
title: jacky.space | setting
---

<section id="about">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h6 class="text-center">Darkmode Status</h6>
        <h2 class="text-center text-monospace">
          <span id="darkModeStatus"></span>
        </h2>

        <form class="form-inline justify-content-center">
          <button type="submit" onClick="darkmode(1)" class="btn btn-primary my-1 mr-sm-2"">Darkmode ON</button>

          <button type="submit" onClick="darkmode(2)" class="btn btn-primary my-1 mr-sm-2"">Darkmode OFF</button>
        </form>

      </div>
    </div>
  </div>
</section>
