---
title: jacky.space | work
---

<section id="work">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center d-flex align-items-center justify-content-center">
        <%= partial "/common/namecard" %>
      </div>
    </div>

    <!-- Portfolio Block -->
    <div id="portfolio-block" class="inner-section wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
      <div id="isotope-filters" class="port-filter port-filter-light text-center">
        <ul>
          <li>
            <a href="#cat1" data-filter="*">All</a>
          </li>
          <li>
            <a href="#cat2" data-filter=".web">Web Design</a>
          </li>
          <li>
            <a href="#cat3" data-filter=".marketing">Film Production</a>
          </li>
          <li>
            <a href="#cat4" data-filter=".seo">Prototype Sample</a>
          </li>
        </ul>
      </div>

      <div class="dividewhite3"></div>

      <div class="grid container-fluid text-center">

        <div id="posts" class="row popup-container">

          <div class="grid-item web col-sm-12">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/00.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/00.jpg" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Music
                      <span>Sounds</span></h3>
                    <p>#web #seo
                    </p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item web col-lg-3 col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/01.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/thumbs/01.jpg" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Music
                      <span>Sounds</span></h3>
                    <p>#web #seo
                    </p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="grid-item grid-sizer web seo col-lg-3 col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/02.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/thumbs/02.jpg" class="img-responsive" alt="img03"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Fire
                      <span>Burns</span></h3>
                    <p>#web #seo</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/03.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/thumbs/03.jpg" class="img-responsive" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Ice
                      <span>Cold</span></h3>
                    <p>#marketing</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/04.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/thumbs/04.jpg" class="img-responsive" alt="img03"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Everybody
                      <span>Lies</span></h3>
                    <p>#marketing</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="grid-item web marketing col-lg-3 col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/05.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/thumbs/05.jpg" class="img-responsive" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Music
                      <span>Sounds</span></h3>
                    <p>#web #seo
                    </p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="grid-item uncategorized col-lg-3 col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/06.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/thumbs/06.jpg" class="img-responsive" alt="img03"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Fire
                      <span>Burns</span></h3>
                    <p>#web #seo</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="grid-item web col-lg-3 col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/07.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/thumbs/07.jpg" class="img-responsive" alt="img03"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Fire
                      <span>Burns</span></h3>
                    <p>#web #seo</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/magazine/08.jpg" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="images/magazine/thumbs/08.jpg" class="img-responsive" alt="img03"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Fire
                      <span>Burns</span></h3>
                    <p>#web #seo</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- /Portfolio Block -->

  </div>
</section>
