---
title: jacky.space | resume
layout: layout_cn
---

<section id="resume">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center d-flex align-items-center justify-content-center">
        <%= partial "/common/namecard_cn" %>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-12 col-sm-10">
        <div class="title text-center text-uppercase">Technologies</div>
        <div class="text-center">
          <h5 class="sub-title">Coding</h5>
          <span class="badge-tag">HTML5</span>
          <span class="badge-tag">CSS3</span>
          <span class="badge-tag">SCSS/SASS</span>
          <span class="badge-tag">Ruby</span>
          <span class="badge-tag">PHP</span>
          <span class="badge-tag">MySQL</span>
          <span class="badge-tag">JavaScript</span>
          <span class="badge-tag">jQuery</span>
          <span class="badge-tag">Git</span>
          <span class="badge-tag">Responsive Design</span>

          <h5 class="sub-title">Framework</h5>
          <span class="badge-tag">Bootstrap</span>
          <span class="badge-tag">Middleman</span>
          <span class="badge-tag">Ruby on Rails (Basic)</span>

          <h5 class="sub-title">Design</h5>
          <span class="badge-tag">Sketch</span>
          <span class="badge-tag">Adobe XD</span>
          <span class="badge-tag">Adobe Dreamweaver</span>
          <span class="badge-tag">Adobe Photoshop</span>
          <span class="badge-tag">Adobe Illustrator</span>
          <span class="badge-tag">InVision</span>

          <h5 class="sub-title">Project management</h5>
          <span class="badge-tag">Trello</span>
          <span class="badge-tag">Redmine</span>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-6">
        <hr/>

        <div class="title text-center text-uppercase">Experience</div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="../images/logo/company_04.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">EKKKO SYSTEMS &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> WEB DEVELOPER & EXPERIENTIAL DESIGNER
          </div>
        </div>
        <div class="job-description mb-4">
          <span class="working-date">FEB 2019 - PRESENT, Singapore</span>
          <ul class="ml-n3">
            <li>Event WebApp UI desgin</li>
            <li>Email eDM responsive layout design</li>
            <li>Event microsite setup and design</li>
            <li>Mobile responsive design study</li>
            <li>Research new technologies for integration into event's web app</li>
            <li>Come up with crazy ideas</li>
            <li>
              <span class="badge badge-secondary font-weight-normal">#HTML</span>
              <span class="badge badge-secondary font-weight-normal">#CSS</span>
              <span class="badge badge-secondary font-weight-normal">#Ruby</span>
              <span class="badge badge-secondary font-weight-normal">#Middleman</span>
              <span class="badge badge-secondary font-weight-normal">#JSP</span>
              <span class="badge badge-secondary font-weight-normal">#jQuery</span>
              <span class="badge badge-secondary font-weight-normal">#MySQL</span>
              <span class="badge badge-secondary font-weight-normal">#CRM</span>
              <span class="badge badge-secondary font-weight-normal">#UIdesign</span>
              <span class="badge badge-secondary font-weight-normal">#ResponsiveDesign</span>
            </li>
          </ul>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="../images/logo/company_03.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">INNOVATIVE INTERNATIONAL INVESTMENT &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> GRAPHIC & WEB DESIGNER
          </div>
        </div>
        <div class="job-description mb-4">
          <span class="working-date">SEP 2018 - JAN 2019, Singapore 🇸🇬</span>
          <ul class="ml-n3">
            <li>Setup main website and design idea</li>
            <li>Logo research, concepts, layout and design</li>
            <li>Corporate identity design</li>
            <li>Web site and content management</li>
            <li>
              <span class="badge badge-secondary font-weight-normal">#HTML</span>
              <span class="badge badge-secondary font-weight-normal">#CSS</span>
              <span class="badge badge-secondary font-weight-normal">#Wordpress</span>
              <span class="badge badge-secondary font-weight-normal">#PHP</span>
              <span class="badge badge-secondary font-weight-normal">#MySQL</span>
              <span class="badge badge-secondary font-weight-normal">#Logo</span>
              <span class="badge badge-secondary font-weight-normal">#NameCard</span>
              <span class="badge badge-secondary font-weight-normal">#CMS</span>
              <span class="badge badge-secondary font-weight-normal">#CIdesign</span>
            </li>
          </ul>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="../images/logo/company_02.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">PLAYSURE TECHNOLOGY &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> WEB DESIGN & DEVELOPER
          </div>
        </div>
        <div class="job-description mb-4">
          <span class="working-date">MAR 2017 - AUG 2018, Tainan - Taiwan R.O.C. 🇹🇼</span>
          <ul class="ml-n3">
            <li>Web design</li>
            <li>UI design</li>
            <li>Mobile responsive design study</li>
            <li>Microsite setup</li>
            <li>UI research, concepts, layout and design</li>
            <li>
              <span class="badge badge-secondary font-weight-normal">#HTML</span>
              <span class="badge badge-secondary font-weight-normal">#CSS</span>
              <span class="badge badge-secondary font-weight-normal">#RubyOnRails</span>
              <span class="badge badge-secondary font-weight-normal">#jQuery</span>
              <span class="badge badge-secondary font-weight-normal">#Ruby</span>
              <span class="badge badge-secondary font-weight-normal">#PHP</span>
              <span class="badge badge-secondary font-weight-normal">#MySQL</span>
              <span class="badge badge-secondary font-weight-normal">#UIdesign</span>
              <span class="badge badge-secondary font-weight-normal">#Responsive</span>
            </li>
          </ul>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="../images/logo/company_01.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">CONFUCIAN PRIVATE SECONDARY SCHOOL &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> WEB DESIGN & DEVELOPER
          </div>
        </div>
        <div class="job-description mb-5">
          <span class="working-date">MAR 2006 - JAN 2012, Kuala Lumpur - Malaysia 🇲🇾</span>
          <ul class="ml-n3">
            <li>Setup main website and design idea</li>
            <li>Web site and content management</li>
            <li>Event microsite design</li>
            <li>School identity design</li>
            <li>
              <span class="badge badge-secondary font-weight-normal">#HTML</span>
              <span class="badge badge-secondary font-weight-normal">#CSS</span>
              <span class="badge badge-secondary font-weight-normal">#Joomla</span>
              <span class="badge badge-secondary font-weight-normal">#PHP</span>
              <span class="badge badge-secondary font-weight-normal">#MySQL</span>
              <span class="badge badge-secondary font-weight-normal">#CMS</span>
              <span class="badge badge-secondary font-weight-normal">#CIdesign</span>
            </li>
          </ul>
        </div>

        <hr/>

        <div class="title text-center text-uppercase">Education</div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="../images/logo/education_02.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">SOUTHERN TAIWAN UNIVERSITY OF SCIENCE AND TECHNOLOGY &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> M.S. in Design<br>
            <span class="company">&#8226; &#8212;</span> Major in Information & Communication Studies
          </div>
        </div>
        <div class="job-description mb-5">
          <span class="working-date">FEB 2016 - FEB 2017, Tainan - Taiwan R.O.C.</span>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="../images/logo/education_02.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">SOUTHERN TAIWAN UNIVERSITY OF SCIENCE AND TECHNOLOGY &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> B.A. in Design<br>
            <span class="company">&#8226; &#8212;</span> Major in Information & Communication Studies
          </div>
        </div>
        <div class="job-description mb-5">
          <span class="working-date">FEB 2012 - JAN 2016, Tainan - Taiwan R.O.C.</span>
        </div>

        <div class="experience-group d-flex">
          <div class="company-icon d-none d-sm-block">
            <img src="../images/logo/education_01.png" alt="">
          </div>
          <div class="company-title">
            <span class="company">SEGI COLLEGE SARAWAK A.K.A. KING’S BUSINESS INSTITUTE &#8212; &#8226;</span><br>
            <span class="company">&#8226; &#8212;</span> Diploma in Computer Studies
          </div>
        </div>
        <div class="job-description mb-5">
          <span class="working-date">1999 - 2001, Kuching - Malaysia</span>
        </div>

        <hr/>

        <div class="title text-center text-uppercase">Skills</div>

        <div class="d-flex">
        <ul class="ml-n3">
          <li>HTML5/CSS3/JS, jQuery, PHP, MySQL</li>
          <li>Desktop/Mobile responsive design</li>
          <li>Basic proﬁciency with Ruby and Rails</li>
          <li>UI study, concepts and design</li>
          <li>Familiar in Atom editor tool and Dreamweaver</li>
          <li>Understanding Git stuff, like Github and Bitbucket</li>
          <li>Experienced with Adobe Suite (XD, Illustrator, Photoshop)</li>
          <li>Web site and content management with Joomla and Wordpress</li>
          <li>Spoken English, Mandarin, Cantonese and simple Malay</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
