---
title: jacky.space | setting
layout: layout_cn
---

<section id="about">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8">
        <h6 class="text-center">夜間模式狀態</h6>
        <h3 class="text-center text-monospace text-black-50">
          <span id="darkModeStatus"></span>
        </h3>
        <form>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-4 text-center text-sm-right">
              <button type="submit" onClick="darkmode(1)" class="btn btn-success my-1" style="width: 10rem;">開啟</button>
            </div>
            <div class="col-12 col-sm-4 text-center text-sm-left">
              <button type="submit" onClick="darkmode(2)" class="btn btn-secondary my-1" style="width: 10rem;">關閉</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <h6 class="text-center">語言</h6>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-4 text-center text-sm-right">
            <a href="javascript:void(0)" role="button" class="btn btn-secondary text-white disabled my-1" style="width: 10rem;">正體中文</a>
          </div>
          <div class="col-12 col-sm-4 text-center text-sm-left">
            <a href="../en/setting.html" role="button" class="btn btn-secondary text-white my-1" style="width: 10rem;">English</a>
          </div>
        </div>
        <div class="text-center">
          <small>Coming soon...</small>
        </div>
      </div>
    </div>
  </div>
</section>
