---
title: jacky.space | work
layout: layout_cn
---

<section id="work">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center d-flex align-items-center justify-content-center">
        <%= partial "/common/namecard_cn" %>
      </div>
    </div>

    <!-- Portfolio Block -->
    <div id="portfolio-block" class="inner-section wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
      <div id="isotope-filters" class="port-filter port-filter-light text-center">
        <ul>
          <li>
            <a href="#cat1" data-filter="*">All</a>
          </li>
          <li>
            <a href="#cat2" data-filter=".web">Web Design</a>
          </li>
          <li>
            <a href="#cat3" data-filter=".mobile">Mobile Responsive</a>
          </li>
          <li>
            <a href="#cat4" data-filter=".ui">UI Prototype</a>
          </li>
        </ul>
      </div>

      <div class="grid container-fluid text-center mt-5">
        <div id="posts" class="row popup-container">

          <div class="grid-item col-sm-12">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/highlight1.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/highlight1_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Tainan Projects Highlight</h3>
                    <p>#webdesign #ruby_on_rails #middleman #ruby #mobile_responsive</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item col-sm-12">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/highlight2.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/highlight2_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Confucian Private Secondary School</h3>
                    <p>#webdesign #content_management #joomla</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/27.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/27.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>M company</h3>
                    <p>#webapp #middleman #mobile_only #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/26.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/26.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>J company</h3>
                    <p>#webapp #middleman #mobile_only #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/25.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/25.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>D company</h3>
                    <p>#webapp #middleman #mobile_only #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/24.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/24.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>H company</h3>
                    <p>#webapp #mobile_only #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/21.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/21_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Kim Lan Food Industry</h3>
                    <p>#webdesign #middleman #ruby #mobile_responsive #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/22.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/22_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>maowu.tw Hostel</h3>
                    <p>#webdesign #ruby_on_rails #mysql #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/23.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/23_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>moricasa</h3>
                    <p>#webdesign #ruby_on_rails #mysql #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/20.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/20_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Reading, Life, Study II</h3>
                    <p>#webdesign #iLMS #content_design</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/19.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/19_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Traffic Safety Club - STUST</h3>
                    <p>#webdesign #iLMS #content_design</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/18.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/18_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>General Education Center - STUST</h3>
                    <p>#webdesign #iLMS #content_design</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/17.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/17_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Reading, Life, Study</h3>
                    <p>#webdesign #iLMS #content_design</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/16.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/16_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Workskill Developement Study Course</h3>
                    <p>#webdesign #iLMS #content_design</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/15.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/15_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>General Learning Passsport</h3>
                    <p>#webdesign #iLMS #content_design</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/14.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/14_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Tainan Lohas Chinese Course</h3>
                    <p>#webdesign #iLMS #content_design</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/13.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/13_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>[Lier] official website</h3>
                    <p>#webdesign #wordpress #php #mydsql</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/12.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/12_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Escape - Student Movies Showreel</h3>
                    <p>#webdesign #wordpress #php #mydsql</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/11.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/11_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Playsure Mart Quatation System</h3>
                    <p>#webdesign #ruby_on_rails</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/10.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/10_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Taiwan Tainan Aesthetic Education Project</h3>
                    <p>#webdesign #ruby_on_rails</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/09.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/09_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Admin Panel UI Design</h3>
                    <p>#webdesign #html #css #js #ui_design</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web mobile">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/08.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/08_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Unicorn Hostel</h3>
                    <p>#webdesign #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/07.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/07_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>EZTaxi</h3>
                    <p>#webdesign #html #css #js</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/06.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/06_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Photo Traveller</h3>
                    <p>#webdesign #joomla #php #mysql #personal_blog</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/05.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/05_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Confucian Culinary</h3>
                    <p>#webdesign #joomla #php #mysql</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/04.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/04_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Online Teaching and Learning Conference</h3>
                    <p>#webdesign #joomla #php #mysql</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/03.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/03_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>S.J.K. (C) Serdang Baru 2</h3>
                    <p>#webdesign #joomla #php #mysql</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/02.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/02_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Wan Zhang Enterprise Sdn. Bhd.</h3>
                    <p>#webdesign #joomla #php #mysql</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/01.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/01_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Li Pei Chun Japanese School</h3>
                    <p>#webdesign #joomla #php #mysql</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 web">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/00.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/thumbs/00_thumb.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>Confucian Private Secondary School</h3>
                    <p>#webdesign #content_management #joomla #php #mysql</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="grid-item grid-sizer col-lg-3 col-md-4 col-sm-6 ui">
            <div class="item-wrap">
              <figure class="effect-goliath">
                <div class="popup-call">
                  <a href="images/works/comingsoon.png" class="gallery-item">
                    <i class="material-icons md-36">fullscreen</i>
                  </a>
                </div>
                <img src="../images/works/comingsoon.png" class="img-responsive'" alt="img11"/>
                <figcaption>
                  <div class="fig-description">
                    <h3>More coming up</h3>
                    <p>#webdesign #mobile_responsive</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /Portfolio Block -->

  </div>
</section>
